In [1]:
import pandas as pd

from pandarallel import pandarallel

from freeholdforecast.tasks.etl_ml_task import ETL_ML_Task

pd.options.display.max_columns = 100

task = ETL_ML_Task()

2022-09-03 16:53:11 INFO ETL_ML_Task Initialized task for ohio-hamilton with run date 2016-09-01

In [2]:
task._get_df_raw_encoded()
task.df_raw_encoded

2022-09-03 16:53:13 INFO ETL_ML_Task Retrieving and encoding data
2022-09-03 16:53:13 INFO ETL_ML_Task Loading existing raw data
2022-09-03 16:53:15 INFO ETL_ML_Task Total parcels: 280902
2022-09-03 16:53:15 INFO ETL_ML_Task Total sales: 497550
2022-09-03 16:53:15 INFO ETL_ML_Task Loading existing encoded data

,Book,Plat,Parcel,ParcelID,Tax District,Owner Name 1,Owner Name 2,Land Value,Building Value,Property Class,House #,Street Name,Street Suffix,Zip Code,Month of Sale,Day of Sale,Year of Sale,# of Parcels Sold,Sale Price,Valid Sale,Conveyance #,Deed Type,Appraisal Area,PriorOwner,PropertyNumber,Parid,last_sale_date
0,661.0,53.0,385.0,0.0,49.0,130710.0,36638.0,2666.0,38503.0,104.0,12240.0,13095.0,21.0,25526.0,0.0,3.0,0.0,2.0,1893.0,3.0,304881.0,44.0,101.0,205152.0,174522.0,128253.0,1998-01-01
1,648.0,2.0,134.0,0.0,31.0,167209.0,1.0,6121.0,2720.0,46.0,6986.0,8889.0,52.0,25526.0,0.0,29.0,0.0,24.0,8570.0,3.0,304726.0,24.0,101.0,205152.0,174522.0,101161.0,1998-01-01
2,683.0,60.0,268.0,0.0,58.0,150050.0,30862.0,4334.0,38422.0,104.0,2268.0,9175.0,21.0,25526.0,0.0,29.0,0.0,2.0,1998.0,3.0,304738.0,44.0,101.0,205152.0,174522.0,158588.0,1998-01-01
3,683.0,60.0,218.0,0.0,58.0,289633.0,42886.0,5138.0,736.0,104.0,20557.0,4510.0,19.0,25526.0,0.0,26.0,0.0,2.0,2823.0,3.0,304489.0,44.0,101.0,205152.0,174522.0,158564.0,1998-01-01
4,661.0,23.0,329.0,0.0,49.0,39291.0,1.0,6637.0,40802.0,104.0,11701.0,9088.0,19.0,25526.0,0.0,3.0,0.0,2.0,1637.0,3.0,304875.0,50.0,101.0,205152.0,174522.0,125059.0,1998-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497545,704.0,217.0,188.0,0.0,42.0,196975.0,57262.0,9525.0,39525.0,104.0,32102.0,18560.0,21.0,12221.0,6.0,26.0,24.0,2.0,5728.0,3.0,191315.0,50.0,87.0,204044.0,130786.0,212461.0,2022-07-01
497546,657.0,154.0,209.0,0.0,19.0,99536.0,57262.0,19743.0,17872.0,104.0,27334.0,2277.0,21.0,0.0,6.0,28.0,24.0,2.0,17551.0,3.0,191643.0,50.0,2.0,132631.0,66420.0,111939.0,2022-07-01
497547,683.0,62.0,132.0,0.0,58.0,173777.0,57262.0,7519.0,37434.0,104.0,31302.0,9818.0,21.0,16250.0,6.0,19.0,24.0,2.0,25977.0,3.0,193368.0,50.0,22.0,203468.0,97054.0,158885.0,2022-07-01
497548,685.0,62.0,288.0,0.0,50.0,18851.0,57262.0,6022.0,34136.0,111.0,13387.0,6144.0,21.0,0.0,6.0,21.0,24.0,2.0,3699.0,3.0,193541.0,50.0,36.0,41340.0,101181.0,168678.0,2022-07-01
497549,214.0,1.0,71.0,0.0,0.0,344428.0,57262.0,576.0,15857.0,104.0,23602.0,16307.0,46.0,9231.0,6.0,19.0,24.0,2.0,14554.0,3.0,193429.0,50.0,60.0,25839.0,4325.0,11274.0,2022-07-01

In [3]:
task._get_df_prepared()
task.df_prepared

2022-09-03 15:42:52 INFO ETL_ML_Task Loading existing prepared data
2022-09-03 15:42:53 INFO ETL_ML_Task Splitting data
2022-09-03 15:42:53 INFO ETL_ML_Task Train dates: 2006-08-01 to 2016-08-01
2022-09-03 15:42:53 INFO ETL_ML_Task Test dates: 2016-09-01 to 2018-09-01

,transfer_in_6_months,transfer_in_12_months,transfer_in_24_months,date,year,month,dates_since_last_sale,Book,Plat,Parcel,ParcelID,Tax District,Owner Name 1,Owner Name 2,Land Value,Building Value,Property Class,House #,Street Name,Street Suffix,Zip Code,Month of Sale,Day of Sale,Year of Sale,# of Parcels Sold,Sale Price,Valid Sale,Conveyance #,Deed Type,Appraisal Area,PriorOwner,PropertyNumber,Parid,last_sale_date
0,0,0,0,2005-11-01,2005,11,0,617.0,3.0,38.0,0.0,31.0,330986.0,2.0,7856.0,2072.0,32.0,21651.0,11045.0,40.0,25526.0,10.0,1.0,7.0,2.0,6381.0,3.0,230285.0,50.0,101.0,205152.0,174522.0,95648.0,2005-11-01
1,0,0,0,2005-12-01,2005,12,1,617.0,3.0,38.0,0.0,31.0,330986.0,2.0,7856.0,2072.0,32.0,21651.0,11045.0,40.0,25526.0,10.0,1.0,7.0,2.0,6381.0,3.0,230285.0,50.0,101.0,205152.0,174522.0,95648.0,2005-11-01
2,0,0,0,2006-01-01,2006,1,2,617.0,3.0,38.0,0.0,31.0,330986.0,2.0,7856.0,2072.0,32.0,21651.0,11045.0,40.0,25526.0,10.0,1.0,7.0,2.0,6381.0,3.0,230285.0,50.0,101.0,205152.0,174522.0,95648.0,2005-11-01
3,0,0,0,2006-02-01,2006,2,3,617.0,3.0,38.0,0.0,31.0,330986.0,2.0,7856.0,2072.0,32.0,21651.0,11045.0,40.0,25526.0,10.0,1.0,7.0,2.0,6381.0,3.0,230285.0,50.0,101.0,205152.0,174522.0,95648.0,2005-11-01
4,0,0,0,2006-03-01,2006,3,4,617.0,3.0,38.0,0.0,31.0,330986.0,2.0,7856.0,2072.0,32.0,21651.0,11045.0,40.0,25526.0,10.0,1.0,7.0,2.0,6381.0,3.0,230285.0,50.0,101.0,205152.0,174522.0,95648.0,2005-11-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5115831,0,0,0,2022-04-01,2022,4,57,661.0,97.0,303.0,0.0,49.0,62592.0,57262.0,7608.0,20618.0,104.0,698.0,5287.0,29.0,24210.0,6.0,5.0,19.0,22.0,3199.0,3.0,47917.0,50.0,15.0,150428.0,80591.0,134128.0,2017-07-01
5115832,0,0,0,2022-05-01,2022,5,58,661.0,97.0,303.0,0.0,49.0,62592.0,57262.0,7608.0,20618.0,104.0,698.0,5287.0,29.0,24210.0,6.0,5.0,19.0,22.0,3199.0,3.0,47917.0,50.0,15.0,150428.0,80591.0,134128.0,2017-07-01
5115833,0,0,0,2022-06-01,2022,6,59,661.0,97.0,303.0,0.0,49.0,62592.0,57262.0,7608.0,20618.0,104.0,698.0,5287.0,29.0,24210.0,6.0,5.0,19.0,22.0,3199.0,3.0,47917.0,50.0,15.0,150428.0,80591.0,134128.0,2017-07-01
5115834,0,0,0,2022-07-01,2022,7,60,661.0,97.0,303.0,0.0,49.0,62592.0,57262.0,7608.0,20618.0,104.0,698.0,5287.0,29.0,24210.0,6.0,5.0,19.0,22.0,3199.0,3.0,47917.0,50.0,15.0,150428.0,80591.0,134128.0,2017-07-01
5115835,0,0,0,2022-08-01,2022,8,61,661.0,97.0,303.0,0.0,49.0,62592.0,57262.0,7608.0,20618.0,104.0,698.0,5287.0,29.0,24210.0,6.0,5.0,19.0,22.0,3199.0,3.0,47917.0,50.0,15.0,150428.0,80591.0,134128.0,2017-07-01

In [4]:
task._train_model("transfer_in_6_months")

2022-09-03 15:42:53 INFO ETL_ML_Task Training model for transfer_in_6_months
2022-09-03 15:42:54 INFO ETL_ML_Task Train labels: 54329/2434833 (2.23%)
2022-09-03 15:42:54 INFO ETL_ML_Task Train res labels: 54329/325974 (16.67%)
2022-09-03 15:42:54 INFO ETL_ML_Task Test labels: 16327/620998 (2.63%)
2022-09-03 15:42:54 INFO ETL_ML_Task Training minutes per model task: 10
2022-09-03 15:42:54 INFO ETL_ML_Task Memory GB per model task: 2
2022-09-03 15:42:54 INFO ETL_ML_Task Fitting model
[WARNING] [2022-09-03 15:42:56,767:Client-AutoML(1):ohio-hamilton] Time limit for a single run is higher than total time limit. Capping the limit for a single run to the total time given to SMAC (599.398586)
[WARNING] [2022-09-03 15:42:56,767:Client-AutoML(1):ohio-hamilton] Capping the per_run_time_limit to 299.0 to have time for a least 2 models in each process.
2022-09-03 15:52:56 INFO ETL_ML_Task Saving model

/home/vscode/.local/share/virtualenvs/freehold-forecast-zrIN4e5_/lib/python3.8/site-packages/_distutils_hack/__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

2022-09-03 15:54:18 INFO ETL_ML_Task auto-sklearn results:
  Dataset name: ohio-hamilton
  Metric: roc_auc
  Best validation score: 0.994267
  Number of target algorithm runs: 36
  Number of successful target algorithm runs: 27
  Number of crashed target algorithm runs: 0
  Number of target algorithms that exceeded the time limit: 5
  Number of target algorithms that exceeded the memory limit: 4

2022-09-03 15:55:28 INFO ETL_ML_Task Pred labels: 3167/620998 (0.51%)
2022-09-03 15:55:28 INFO ETL_ML_Task Precision: 0.55
2022-09-03 15:55:28 INFO ETL_ML_Task ROC AUC: 0.55
2022-09-03 15:55:28 INFO ETL_ML_Task Classification report:
              precision    recall  f1-score   support

           0       0.98      1.00      0.99    604671
           1       0.55      0.11      0.18     16327

    accuracy                           0.97    620998
   macro avg       0.76      0.55      0.58    620998
weighted avg       0.97      0.97      0.97    620998

2022-09-03 15:55:29 INFO ETL_ML_Task Confusion matrix:
Predicted       0     1     All
Actual
0          603245  1426  604671
1           14586  1741   16327
All        617831  3167  620998
2022-09-03 15:55:29 INFO ETL_ML_Task Precision with proba 0.5: 0.55 (tp=1741, fp=1426, tn=603245, fn=14586)
2022-09-03 15:55:29 INFO ETL_ML_Task Precision with proba 0.6: 0.59 (tp=1695, fp=1202, tn=603469, fn=14632)
2022-09-03 15:55:30 INFO ETL_ML_Task Precision with proba 0.7: 0.62 (tp=1638, fp=1013, tn=603658, fn=14689)
2022-09-03 15:55:30 INFO ETL_ML_Task Precision with proba 0.8: 0.65 (tp=1565, fp=837, tn=603834, fn=14762)
2022-09-03 15:55:31 INFO ETL_ML_Task Precision with proba 0.9: 0.69 (tp=1445, fp=647, tn=604024, fn=14882)

In [5]:
task._train_model("transfer_in_12_months")

2022-09-03 15:55:31 INFO ETL_ML_Task Training model for transfer_in_12_months
2022-09-03 15:55:32 INFO ETL_ML_Task Train labels: 100771/2434833 (4.14%)
2022-09-03 15:55:32 INFO ETL_ML_Task Train res labels: 100771/604626 (16.67%)
2022-09-03 15:55:32 INFO ETL_ML_Task Test labels: 31316/620998 (5.04%)
2022-09-03 15:55:32 INFO ETL_ML_Task Training minutes per model task: 10
2022-09-03 15:55:32 INFO ETL_ML_Task Memory GB per model task: 2
2022-09-03 15:55:32 INFO ETL_ML_Task Fitting model
[WARNING] [2022-09-03 15:55:34,525:Client-AutoML(1):ohio-hamilton] Time limit for a single run is higher than total time limit. Capping the limit for a single run to the total time given to SMAC (599.286439)
[WARNING] [2022-09-03 15:55:34,525:Client-AutoML(1):ohio-hamilton] Capping the per_run_time_limit to 299.0 to have time for a least 2 models in each process.
2022-09-03 16:05:33 INFO ETL_ML_Task Saving model
2022-09-03 16:07:50 INFO ETL_ML_Task auto-sklearn results:
  Dataset name: ohio-hamilton
  Metric: roc_auc
  Best validation score: 0.994364
  Number of target algorithm runs: 28
  Number of successful target algorithm runs: 22
  Number of crashed target algorithm runs: 0
  Number of target algorithms that exceeded the time limit: 4
  Number of target algorithms that exceeded the memory limit: 2

2022-09-03 16:08:24 INFO ETL_ML_Task Pred labels: 20152/620998 (3.25%)
2022-09-03 16:08:25 INFO ETL_ML_Task Precision: 0.35
2022-09-03 16:08:25 INFO ETL_ML_Task ROC AUC: 0.60
2022-09-03 16:08:25 INFO ETL_ML_Task Classification report:
              precision    recall  f1-score   support

           0       0.96      0.98      0.97    589682
           1       0.35      0.22      0.27     31316

    accuracy                           0.94    620998
   macro avg       0.65      0.60      0.62    620998
weighted avg       0.93      0.94      0.93    620998

2022-09-03 16:08:25 INFO ETL_ML_Task Confusion matrix:
Predicted       0      1     All
Actual
0          576566  13116  589682
1           24280   7036   31316
All        600846  20152  620998
2022-09-03 16:08:26 INFO ETL_ML_Task Precision with proba 0.5: 0.35 (tp=7036, fp=13116, tn=576566, fn=24280)
2022-09-03 16:08:26 INFO ETL_ML_Task Precision with proba 0.6: 0.49 (tp=6150, fp=6401, tn=583281, fn=25166)
2022-09-03 16:08:27 INFO ETL_ML_Task Precision with proba 0.7: 0.67 (tp=5355, fp=2687, tn=586995, fn=25961)
2022-09-03 16:08:27 INFO ETL_ML_Task Precision with proba 0.8: 0.87 (tp=4374, fp=670, tn=589012, fn=26942)
2022-09-03 16:08:28 INFO ETL_ML_Task Precision with proba 0.9: 0.92 (tp=3016, fp=280, tn=589402, fn=28300)

In [6]:
task._train_model("transfer_in_24_months")

2022-09-03 16:08:28 INFO ETL_ML_Task Training model for transfer_in_24_months
2022-09-03 16:08:29 INFO ETL_ML_Task Train labels: 187467/2434833 (7.70%)
2022-09-03 16:08:29 INFO ETL_ML_Task Train res labels: 187467/1124802 (16.67%)
2022-09-03 16:08:29 INFO ETL_ML_Task Test labels: 58001/620998 (9.34%)
2022-09-03 16:08:29 INFO ETL_ML_Task Training minutes per model task: 10
2022-09-03 16:08:29 INFO ETL_ML_Task Memory GB per model task: 2
2022-09-03 16:08:29 INFO ETL_ML_Task Fitting model
[WARNING] [2022-09-03 16:08:31,186:Client-AutoML(1):ohio-hamilton] Dataset too large for memory limit 2048MB, reducing the precision from float64 to <class 'numpy.float32'>
[WARNING] [2022-09-03 16:08:31,199:Client-AutoML(1):ohio-hamilton] Dataset too large for memory limit 2048MB, reducing number of samples from 1124802 to 925639.
[WARNING] [2022-09-03 16:08:32,367:Client-AutoML(1):ohio-hamilton] Time limit for a single run is higher than total time limit. Capping the limit for a single run to the total time given to SMAC (599.099395)
[WARNING] [2022-09-03 16:08:32,367:Client-AutoML(1):ohio-hamilton] Capping the per_run_time_limit to 299.0 to have time for a least 2 models in each process.
2022-09-03 16:18:31 INFO ETL_ML_Task Saving model
2022-09-03 16:21:57 INFO ETL_ML_Task auto-sklearn results:
  Dataset name: ohio-hamilton
  Metric: roc_auc
  Best validation score: 0.992687
  Number of target algorithm runs: 16
  Number of successful target algorithm runs: 13
  Number of crashed target algorithm runs: 0
  Number of target algorithms that exceeded the time limit: 3
  Number of target algorithms that exceeded the memory limit: 0

2022-09-03 16:23:05 INFO ETL_ML_Task Pred labels: 25678/620998 (4.13%)
2022-09-03 16:23:05 INFO ETL_ML_Task Precision: 0.85
2022-09-03 16:23:05 INFO ETL_ML_Task ROC AUC: 0.69
2022-09-03 16:23:05 INFO ETL_ML_Task Classification report:
              precision    recall  f1-score   support

           0       0.94      0.99      0.97    562997
           1       0.85      0.38      0.52     58001

    accuracy                           0.94    620998
   macro avg       0.90      0.69      0.74    620998
weighted avg       0.93      0.94      0.92    620998

2022-09-03 16:23:05 INFO ETL_ML_Task Confusion matrix:
Predicted       0      1     All
Actual
0          559190   3807  562997
1           36130  21871   58001
All        595320  25678  620998
2022-09-03 16:23:06 INFO ETL_ML_Task Precision with proba 0.5: 0.85 (tp=21871, fp=3807, tn=559190, fn=36130)
2022-09-03 16:23:06 INFO ETL_ML_Task Precision with proba 0.6: 0.93 (tp=18522, fp=1294, tn=561703, fn=39479)
2022-09-03 16:23:07 INFO ETL_ML_Task Precision with proba 0.7: 0.96 (tp=14471, fp=552, tn=562445, fn=43530)
2022-09-03 16:23:07 INFO ETL_ML_Task Precision with proba 0.8: 0.97 (tp=7987, fp=247, tn=562750, fn=50014)
2022-09-03 16:23:08 INFO ETL_ML_Task Precision with proba 0.9: 0.91 (tp=197, fp=20, tn=562977, fn=57804)